# **<font color='white' face="Georgia" size="6">Feb 17 - MongoDB**</font>

In [1]:
#To show multiple outputs and misc. changes
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # Show all results without print (last_expr)

In [2]:
# python -m pip install "pymongo[srv]"==3.11

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://smaity:rocky123@cluster0.7pqupiz.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

{'ok': 1}

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
client

MongoClient(host=['ac-j1tupdk-shard-00-02.7pqupiz.mongodb.net:27017', 'ac-j1tupdk-shard-00-00.7pqupiz.mongodb.net:27017', 'ac-j1tupdk-shard-00-01.7pqupiz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bbpfho-shard-0', ssl=True)

In [4]:
# In MongoDB, we have database --> collections --> documents

# Create a new database
db = client['smaity_db']

# Create a new collection inside the database
coll = db['smaity_collection']

In [5]:
# Create a new document to be inserted
doc1 = {'name': 'Siddharth', 'surname': 'Maity', 'age': 39}

# Insert the document into the collection
coll.insert_one(doc1)

# Create another document
doc2 = {'name': 'Siddharth', 'surname': 'Maity', 'age': 39, 'hobbies': ['Python', 'MongoDB', 'Data Science']}

# Insert the document into the collection
coll.insert_one(doc2)

# Create another document
data3 = {"list_course" : ["data science masters " , "web dev " , "java with DSA"],
        "mentor" : ["sudhanshu" , "anurag" , "hyder"]}

# Insert the document into the collection
coll.insert_one(data3)

# Create another document
data4 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

# Insert the document into the collection
coll.insert_many(data4)

# create another document
data5 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

# Insert the document into the collection
coll.insert_one(data5)

# Create another document
data6 = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

# Insert the document into the collection
coll.insert_many(data6)

In [6]:
# find all documents in the collection
for doc in coll.find():
    print(doc)

{'_id': ObjectId('6590f3434ee712c95ef82144'), 'name': 'Siddharth', 'surname': 'Maity', 'age': 39}
{'_id': ObjectId('6590f3434ee712c95ef82145'), 'name': 'Siddharth', 'surname': 'Maity', 'age': 39, 'hobbies': ['Python', 'MongoDB', 'Data Science']}
{'_id': ObjectId('6590f3434ee712c95ef82146'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('6590f3434ee712c95ef82147'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6590f3434ee712c95ef82148'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6590f3434ee712c95ef82149'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6590f3434ee712c95ef8214a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6590f3434ee712c95ef8214b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6590f3434ee712c95ef8214c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6590f3434ee712c95ef8214d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6590f3434ee712c95ef8214e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6590f3434ee712c95ef8214f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6590f3434ee712c95ef82150'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6590f3434ee712c95ef82151'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6590f3434ee712c95ef82152'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6590f3434ee712c95ef82153'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6590f3434ee712c95ef82154'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6590f3434ee712c95ef82155'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6590f3434ee712c95ef82156'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [7]:
# find one document in the collection
coll.find_one()

{'_id': ObjectId('6590f3434ee712c95ef82144'),
 'name': 'Siddharth',
 'surname': 'Maity',
 'age': 39}

In [8]:
for i in coll.find({"name":"Siddharth"}):
    print(i)

{'_id': ObjectId('6590f3434ee712c95ef82144'), 'name': 'Siddharth', 'surname': 'Maity', 'age': 39}
{'_id': ObjectId('6590f3434ee712c95ef82145'), 'name': 'Siddharth', 'surname': 'Maity', 'age': 39, 'hobbies': ['Python', 'MongoDB', 'Data Science']}

In [9]:
for i in coll.find({'_id' : {'$gte' : '4'}}):
    print(i)

In [10]:
coll.update_many({'companyName': 'iNeuron'} ,{"$set" :{'companyName': 'pwskills'}} )

In [ ]:
# # delete one document from the collection
# coll.delete_one({'name': 'Siddharth'})

# # delete all documents from the collection
# coll.delete_many({})

# # delete the collection
# coll.drop()